executor: "CeleryExecutor"

redis:
  enabled: true
flower:
  enabled: true
postgresql:
  enabled: true

dags:
  gitSync:
    enabled: true              
    repo: "https://github.com/JonAJ21/airflow_dags.git" 
    branch: "main"              
    subPath: "dags"              
    wait: 60                   