# auth:
#   username: admin
#   password: admin123
#   fernetKey: "50dvSxy4LZnjcUNOHsXVRCTSI_jnMv1oNmALgJlR-jc="
#   secretKey: "A_RANDOM_SECRET_KEY"

# executor: "CeleryExecutor"

# postgresql:
#   enabled: true
#   primary:
#     persistence:
#       enabled: true
#       size: 2Gi
#   auth:
#     postgresPassword: postgres
#     password: airflowpass
#     username: bn_airflow
#     database: bitnami_airflow

# redis:
#   enabled: true
#   master:
#     persistence:
#       enabled: true
#       size: 1Gi

# airflow:
#   username: admin
#   password: admin123
#   email: admin@example.com
#   loadExamples: true
#   config:
#     AIRFLOW__CORE__EXECUTOR: CeleryExecutor
#     AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://bn_airflow:airflowpass@airflow-postgresql:5432/bitnami_airflow
#     AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://bn_airflow:airflowpass@airflow-postgresql:5432/bitnami_airflow
#     AIRFLOW__CELERY__BROKER_URL: redis://airflow-redis-master:6379/0

# web:
#   service:
#     type: ClusterIP

# ingress:
#   enabled: false