cluster:
  layout:
    shardsCount: 3
    replicasCount: 3
  zookeeper:
    nodes:
      - host: zookeeper-0.zookeeper-headless.clickhouse.svc.cluster.local
        port: 2181
      - host: zookeeper-1.zookeeper-headless.clickhouse.svc.cluster.local
        port: 2181
      - host: zookeeper-2.zookeeper-headless.clickhouse.svc.cluster.local
        port: 2181
    session_timeout_ms: 30000
    operation_timeout_ms: 10000
    root: /clickhouse

persistence:
  enabled: true
  size: 3Gi

resources:
  requests:
    memory: "2Gi"
    cpu: "1"
  limits:
    memory: "4Gi"
    cpu: "1"
  
service:
  type: LoadBalancer

auth:
  username: {{ .Environment.Values.clickhouseUserName }}
  password: {{ .Environment.Values.clickhousePassword }}